.mobileNav {
    position: absolute;
    height: 100%;
    width: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    align-items: center;
    justify-content: center;

    > .buttonClose {
        position: absolute;
        right: 1rem;
        top: 1rem;
        cursor: pointer;
    }
}

.close {
    display: none;
}

.open {
    display: flex;
}