.mobileNav {
    position: fixed;
    height: 100%;
    width: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.buttonClose {
    position: absolute;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
}

.close {
    display: none;
}

.open {
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
}

.topMenu {
    height: 100px;
}

.mobileMenu {
    text-align: center;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
}

.bottonMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    justify-content: flex-start;
}

.divisor {
    width: 80%;
    height: 0px;
    opacity: 20%;
    margin-bottom: 50px;
}

.loginLinks {
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 50px 100px;
}

.menuIcon {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;

    .svgImage {
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width: 800px) {
    .menuIcon {
        display: flex;
        
    }
}