.footerMenu {
    display: grid;
    justify-items: start;
    justify-content: center;
}

.footerNav {
    width: 100%;
    display: grid;    
    a {
        width: 100%;
        align-content: center;
        text-align: center;
    }
}

@media only screen and (min-width: 801px) {
    .footerMenu {
        grid-template-columns: 1fr 4fr;
        column-gap: 50px;
    }

    .footerNav {
        grid-template-columns: repeat(4, 140px);
        justify-content: end;
    }    
}

@media only screen and (max-width: 800px) {
    .footerMenu {
        grid-template-rows: 1fr 1fr;
        row-gap: 10px;
    }

    .footerNav {
        grid-template-columns: repeat(2, 140px);
        justify-content: center;
        row-gap: 20px;
    }
}