@use "src/ui/theme-colors/themes";
@use "sass:map";

* {
    font-size: 17px;
    font-family: var(--font-roboto);
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

header, main, footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: inherit;
}

.mainContent {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 830px;
    width: 100%;
    margin: 0px;
    padding: 20px;
}