.buttonIcon {
    width: 30px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    border-radius: 100%;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.themeIcon {
    width: 20px;
    height: 20px;
}